/* Reset CSS pour une mise à zéro des marges et des bordures */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0; /* Couleur de fond de la page */
}

/* Style du conteneur principal */
.todo-container {
    background-color: #ffffff; /* Fond blanc pour le conteneur */
    padding: 20px; /* Espace intérieur du conteneur */
    margin: 20px auto; /* Centre le conteneur principal horizontalement */
    width: 300px; /* Largeur fixe pour le conteneur */
}

/* Style des sections de la ToDo List */
.todo-list.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

}

.todo-list.horizontal {
    display: flex;
    gap:10px
    
}

/* Style des éléments de la ToDo List */
.todo-item {
    background-color: #eaeaea; /* Couleur de fond des éléments */
    padding: 10px; /* Espace intérieur des éléments */
    margin: 10px 0; /* Espace extérieur entre les éléments */
    text-align: center; /* Centre le texte des éléments */
}