/* main CSS and flex*/

.welcome{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    margin-top: 50px;
}
.mario{
    border: 1px solid black;
    height: 450px;
    width: 950px;
    margin-top: 50px;
}

/* categories */
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.instrument{
    width: 120px;
    height: 120px;
}
.row{
    margin-top: 50px;
 
}
.row li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    padding: 10px;
}
.image{
    display: flex;
    align-items: center;
    width: 400px;
    gap: 40px;
}
.row ul{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
