/* Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}
/*header CSS*/
header {
  background-color: white;
  width: 97vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 1vh auto 1vh auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 10px;
}
.searching {
  display: flex;
  justify-content: right;
  width: 85%;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
}
.searching input {
  border-radius: 15px;
  border: 0;
  width: 90%;
  background-color: rgb(245, 245, 245);
}

img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-direction: column;

  flex: 12;
}
.main_menu {
  display: flex;
  justify-content: center;
  margin: 5px 5px 5px 5px;
  background-color: white;
  width: 98%;
  height: 5vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
nav p {
  margin-right: auto;
}
nav {
  margin-right: 1rem;
}
.contact_section {
  display: none;
}

.main_section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(139, 171, 216);
}
.main_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  width: 20%;
  background-color: rgb(91, 135, 196);
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
.message_container {
  display: flex;
  flex-direction: column;
}
.message_sender {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-right: auto;
  width: auto;
  max-width: 65%;
  margin-bottom: 1rem;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
}
.messages_user,
.message_sender {
  background-color: rgb(120, 227, 120);
  display: flex;
  flex-direction: column;

  max-width: 65%;
  margin-right: 10px;
  margin-bottom: 1rem;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
}
.messages_user {
  background-color: rgb(120, 227, 120);
  margin-left: auto;
}
.message_sender {
  background-color: white;
  margin-right: auto;
}
time {
  margin-left: auto;
}
.message_zone {
  background-color: rgb(245, 245, 245);
  width: 85%;
  height: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  border-radius: 20px;
}
textarea {
  width: 80%;
  border: 0;
  background-color: rgb(245, 245, 245);
}
button {
  border: 0;
}
@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }
  main {
    flex: 5;
  }
  header {
    flex-direction: column;
    flex: 1;
  }
  .contact_section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .contact {
    display: flex !important;
    align-items: center;
    width: 220px;
    margin-bottom: 10px;
  }
  .contact p {
    font-size: 12px;
  }
  h2 {
    font-size: 12px;
  }
  .circle {
    width: 10px;
    height: 10px;
  }
  .message_container {
    width: 54rem;
  }
  .message_zone {
    width: 54rem;
  }
  .notification {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 0.5rem;
  }
  h2 {
    font-size: 12px;
  }
}


