/* ------------reset CSS-------------------------*/
*{
    margin: 0;
    padding: 0;
}

/*Add bgcol for flex*/
body{
    height: 100vh;
    background-color: rgb(136, 136, 135);
    display:flex ;
}


/* ----------------------header CSS -------------------*/
header{
    background-color: rgb(255, 255, 255); 
    flex:  1;
    height: 100vh;
    display: flex;
    flex-direction: column;
} /*Add bgcol for flex*/

/*nav Css*/
nav{
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: white;
    border-right: 1px solid rgb(239, 238, 238);
    border-top: 2px solid rgb(239, 238, 238);;
} /*Add bgcol for flex*/
/* contact_section */
nav img{
    width: 8%;
    margin-left: 3%;
}
.searching{
    display: flex;
    background-color: rgb(239, 238, 238);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 7px;
    padding: 1%;
    width: 80%;
    margin:auto;
}
.searching input{
   background-color: rgb(239, 238, 238);
   border: 0px;
}
.contact_section{
    flex: 1;
    max-height: 95vh;
    overflow-y: auto;
  
    background-color: rgb(255, 255, 255);
}
.user_pic{
    width: 20%;
    height: 20%;
}
/* UL Css*/
ul{
    margin-top: 5%;
    padding-left: 10%;
    list-style: none;
    align-items: center;
} /*Add bgcol for flex*/
li{
    display: flex;
    align-items: center;
}
nav input{
    margin: auto 10% auto auto;
    flex: 3;
}
nav p{
    margin: auto auto auto 5%;
    flex: 1;
}
h2{
    font-size: 0.8rem;
}
/*--------------------Main css--------------- ------*/ 
main{
    
    flex: 3;
    display: flex;
    flex-direction: column;
}/*Add bgcol for flex*/

/* Article "main_menu CSS */
.main_menu{
    background-color: rgb(255, 255, 255);
    height: 5vh;
    display: flex;
    
} /*Add bgcol for flex*/
.main_menu img{
    width: 20px;
    height: 70%;
}
.main_menu p{
    width: 120px;
}
.contact_search{
    display: flex;
    width: 60%;
    background-color:rgb(239, 238, 238);
    border-radius: 10px;
    
}
.magnifying_glass{
    margin-right: 2%;
}
.main_menu input{
    margin: auto;
    flex:2;
    border: 0;
    border-radius: 10px;
    background-color: rgb(239, 238, 238);
   
}
.main_menu p{
    margin: auto ;
    flex: 1;
    padding-left: 1%;
}
/*Section CSS*/
.main_section{
    background-color: rgba(11, 128, 246, 0.427);
    max-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* main_area CSS*/
.main_area{
    flex:3;
    width: 80%;
    max-height: 535px;
    margin: 3% auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 3%;
    overflow-y: auto;
}
/*Message container CSS*/
.message_container{
    width: 100%;
    margin:auto;
    flex: 1;
    overflow-y: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-end;
}
/*messages CSS*/
.message_sender{
    padding: 2% 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: auto;
    width: auto;
    max-width: 310px;
    display: flex;
    flex-direction: column;

}
.messages_user{
    padding: 2% 2%;
    margin-left: auto;
    width: auto;
    background-color: #78e378;
    border-radius: 10px;
    display: flex;
    max-width: 310px;
    flex-direction: column;
}
time{
    margin-left: auto;
    font-size: 70%
}
.white_text{
    color: white;
}
/*H1 CSS*/
h1{
    text-align: center;
    font-size: 1rem;
    background-color: rgb(97, 97, 216);
    border-radius: 7px;
    width: 4rem;
    color: white;
}
/* main form CSS */
form{
    margin: 3% auto 3% auto;
    padding: 1% 0;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
textarea{
    width: 80%;
    background-color: rgba(201, 201, 201, 0.212);
    border-radius: 20px;
    border: 0px;
}
button{
    width: 5%;
    border-radius: 40%;
    border: 0px;
}
