/*Setting off native padding / margin ,lists styles */
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
body{
     background-color: rgb(249, 249, 249);
}
/*Header and footer CSS and Text align*/
header,footer{
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
}
header{
    height: 150px;
}
h1,nav{
    padding-top: 25px;
}
a{
    color: white;
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 10px;
}
textarea{
    width: 550px;
    height: 80px;
}
footer{
    height: 200px;
    
}
form{
    padding-top: 20px;
    width: 550px;
    margin: auto;
}
form label,form textarea,form button{
    margin-top: 10px;
    margin-bottom: 10px;
}
form button{
    background-color: rgb(0, 123, 255);
    border: 1px solid rgb(0, 123, 255);
    color: white;
    border-radius: 7px;
    width: 50px;
    height: 30px;
}
form textarea{
    border-radius: 8px;
}
/* Main css */
main{
    margin:20px 70px;
    
}
h2{
    border-bottom: 3px solid rgb(228, 228, 228);
    padding-bottom: 10px;
}
h3{
    margin-bottom: 5px;
}
.jacket{
    padding: 15px;
   box-shadow: 0px -1px 5px rgba(92, 91, 91, 0.522);
   border: 1px solid rgba(142, 141, 141, 0.511);
    border-radius: 10px;
   background-color: rgb(250,250,250);
   
   margin-bottom: 20px;
}
.jacket p{
    margin-top: 5px;
}
.buyer{
    background-color: rgb(227, 242, 253);
    width: 950px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 7px;
    height: 65px;
}
.buyer p{
    margin: 15px;
}
.buyer time{
    margin-left: 870px;
    padding-bottom: 20px;
    opacity: 60%;
}
.seller{
    background-color: rgb(241, 248, 233);
    width: 950px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 7px;
    height: 65px;
    margin-left: auto;
    margin-top: 20px;
}
.seller p{
    margin: 15px;
}
.seller time{
    margin-left: 870px;
    padding-bottom: 20px;
    opacity: 60%;
}