*{
    margin: 0;
    padding: 0;
}
/*nav bar CSS*/
a{
    color: white;
    text-decoration: none;
}
.sheets{
    width: 35px;
    height: 35px;
}
header{
    background-color: rgb(86, 114, 124);
    color: white;
    height: 45px;
}
.navbar{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.leftside , .rightside{
    display: flex;
    align-items:center ;
    gap: 40px;
}
.leftside{
    margin-left: 15px;
}
.rightside{
    margin-right: 15px;
}
.navbar a:hover{
    border: 1px solid rgb(54, 71, 77);
    background-color: rgb(54, 71, 77);
    border-radius: 2px;
}

/*flexbox creation CSS*/
.speedometer{
    width: 85px;
    height: 85px;
}
.calendar , .mail{
    height: 55px;
    width: 65px;
}

.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding:25px;
    gap:25px
}
.row{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.reverse{
    width: 450px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 2px solid rgba(54, 71, 77, 0.3) ;
    border-top:2px solid rgba(54, 71, 77, 0.3) ;
    gap:15px;
}
